
    <div class="">
        <div class="rounded position-relative fruit-item card-layout">
            <div class="sweet-img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9yBeXOSiR-9QJizu7DBzQT3cWMggVF3K7QfFJKbU68Q&s"
                    class="img-fluid w-100 rounded-top" alt="">
            </div>
            <div class="text-white px-1 py-1 rounded position-absolute sweet-head-text" style="top: 10px; left: 10px; opacity: 0.9;">
                Cakes</div>
            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                <h4>Chocolate Cake</h4>
                <p>Sweet delight: ten layers of bliss, a cake to savor.</p>
                <div class="d-flex justify-content-between flex-lg-wrap ">
                    <p class="text-dark fs-5 fw-bold mb-0">₹ 699</p>
                    <a href="#" class="btn border border-secondary rounded-pill px-3 cart-pill"><i
                            class="fa fa-shopping-bag me-2"></i> Add to cart</a>
                </div>
            </div>
        </div>
    </div>
