.login-background {
    background-color: rgb(230, 198, 161);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  
  .place-box input{
      width: 320px;
  }
  
  .add-btn{
      background-color: #2a9d8f !important;
      border: none !important;
      height: 2.5rem;
      width:5.5rem;
      text-align: center;
      text-size-adjust: 2rem;
  }

  .add-btn:hover{
    background-color: #9e2a2b !important;
  }

  .signup-box{
    margin: 8rem auto;
    height: 420px;
    width: 400px;
    background-color: white; 
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
}
