.primary-text{
    color: #835a0f;
}
.secondary-text{
    color: rgb(75, 58, 12);
}

.hero-header {
    position: relative;
}

.hero-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://i.pinimg.com/originals/4b/7d/0a/4b7d0ad9deeeb8fad8f43b12425f6cb9.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1px);
    z-index: -1;
}

.hero-header {
    background: linear-gradient(rgba(248, 223, 173, 0.1), rgba(248, 223, 173, 0.1));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item {
    position: relative;
    border-radius: 2rem !important;
    overflow: hidden !important;
}

.carousel-item a {
    background-color: #6f1d1b !important;
    border-radius: 2rem !important;
    overflow: hidden !important;
    position: absolute;
    top: 15%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: whitesmoke;
}

.blur-image {
    filter: blur(1.5px) !important;
}

.carousel-control-next,
.carousel-control-prev {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    background: #6f1d1b;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-next {
    margin-right: 20px;
}

.carousel-control-prev {
    margin-left: 20px;
}

.page-header {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://images.unsplash.com/photo-1588195538326-c5b1e9f80a1b?q=80&w=1950&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 992px) {
    
}

@media (max-width: 992px) {
    
}